@import "../../themes/default";

.button-all {
  border-radius: @button-radius;
  display: inline-block;
  padding: @button-normal-padding;
  cursor: pointer;
}

.button-type {
  &-default {
    padding: @button-normal-padding-top - @button-normal-border-weight @button-normal-padding-left - @button-normal-border-weight;
    border: @button-normal-border;
  }
  &-danger {
    background: @button-danger-background;
    color: @button-danger-font-color;
  }
  &-primary {
    background: @button-primary-background;
    color: @button-primary-font-color;
  }
  &-none {

  }
  &-dark {
    background: @button-dark-background;
    color: @button-dark-font-color;
  }
}