@import "../../themes/default";

.profile {
  margin: 50px 10px 50px 10px;
  border-top: 1px solid @article-profile-border-top-color;
}

.profileComponent {
  display: inline-block;
  vertical-align: top;
  margin: 10px 10px 10px 10px;
}