@max-component-width: 800px;

.title {
  text-align: center;
  margin: 50px 10px 50px 10px;
}

.articleType {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.5;

  margin: 50px 0 5px 0;
}

.titleContent {
  font-size: 30px;
  font-weight: bold;
  //color: #ffffff;

  margin: 5px 0 5px 0;
}

.articleDateAndAuthorName {
  display: inline-block;

  margin: 5px 50px 50px 50px;

  text-align: center;

  opacity: 0.7;
}

img.image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: @max-component-width;
  height: 200px;
}