@import "../../themes/default";
.text {
  position: absolute;
  left: 35%;
  z-index: 9;
  font-size: 28px;
  color: @default-logo-color;
  cursor: pointer;
}
.locked {
  background: #efefef;
  -moz-opacity:0.8;
  opacity:0.8;
  -webkit-filter: blur(20px); /* Chrome, Opera */
  -ms-filter: blur(20px);
  filter: blur(20px);
  z-index: 8;
}

.unlocked {

}