.normal {
  /*font-family: Georgia, sans-serif;*/
  /*text-align: center;*/
  /*height: 2000px;*/
  /*background-image: linear-gradient(90deg, #f3f9f9 0%,#f3f9f9 30%,#dde7f2 80%, #d9e1ee 100%);*/
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
