@import "./color";

// ----------default-----------
@default-radius:7px;
@default-shadow: 0 5px 35px rgba(0,0,0,3%);
@default-glue:50px;

// ----------page-----------
@page-background-color: @white-sky-blue;
@page-primary-color: @white;
@page-max-width:1318px;

// ----------button-----------
@button-radius: 50%;
@button-primary-background:linear-gradient(right,#5E8A93,#5CBoC5);
@button-primary-font-color:@white;

@button-dark-background:rgba(1,0,2,60%);
@button-dark-font-color:@white;

// ----------card-----------
@card-radius: @default-radius;
@card-primary-color:@page-primary-color;
@card-shadow:@default-shadow;
