@import "./color";

// ----------default-----------
@default-radius:7px;
@default-shadow: 0 5px 35px rgba(0,0,0,3%);
@default-glue:50px;
@default-translation:all 0.2s;

@default-logo-color:@sky-blue;

// ----------page-----------
@page-background-color: @white-sky-blue;
@page-primary-color: @white;
@page-max-width:1318px;
@page-padding:20px;

// ----------loader----------
@loading-background-color:#2980B9;

// ----------button-----------
@button-radius: 9999px;
//@button-primary-background:linear-gradient(to right,#5E8A93,#5CB0C5);
@button-primary-background:linear-gradient(to right, #2980B9, #86ABE7);
@button-primary-font-color:@white;

@button-dark-background:rgba(1,0,2,70%);
@button-dark-font-color:@white;

@button-normal-padding-top:7px;
@button-normal-padding-left:35px;
@button-normal-padding:@button-normal-padding-top @button-normal-padding-left;
@button-normal-border-color:#5CB0C5;
@button-normal-border-weight:1px;
@button-normal-border: @button-normal-border-weight solid @button-normal-border-color;

@button-danger-background:linear-gradient(to right,#95486E,#A23638);
@button-danger-font-color:white;

// ----------card-----------
@card-radius: @default-radius;
@card-primary-color:@page-primary-color;
@card-shadow:@default-shadow;


// ----------dropdown-------
@dropdown-background:@white;