@import "../../../themes/default";
@total-width : @page-max-width - @page-padding;

.left-bar {
  transition: all 0.3s;
  position: relative;
  left: 10px;
  top: 100px;
  width: 300px;
  max-width: @total-width / 5;
}
.info-form {
  position: relative;
  left: 100px;
  background-color: #86ABE7;
  width: 600px;
}