@import "../../../themes/default";

.main {
  position: relative;
  padding: @header-height+@page-gutter @page-padding @page-gutter;
  max-width: @page-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  .left {
    overflow: hidden;
    margin-left: 80px;
  }
  .right {
    margin-left: 70px;
    flex-shrink: 1;
  }
  .sp {

  }
}