@import "../../../themes/default";

.main {
  position: relative;
  padding: @header-height+@page-gutter @page-padding @page-gutter;
  max-width: @page-max-width;
  margin: 0 auto;

  .simpleSection{
    width: 100%;
    background-color: @page-primary-color;
    border-radius: @default-radius;
    box-shadow: @default-shadow;

    .title{
      padding: 30px;
    }
  }
}