@import "../../themes/default";
@total-width : @page-max-width - @page-padding;
@total-height: @total-width / 3;
@text-background-color: @page-primary-color;
@picture-margin: 0px;
@picture-width: @total-width / 5 * 3 - @picture-margin;
@picture-height: @total-height - @picture-margin;
@right-text-padding:10px 20px;

.popular-part {
  display: grid;
  max-width: @total-width;
  background-color: @pp-background-color;
  border-radius: @default-radius;
  grid-template-columns: 60% 40%;
  box-shadow: @default-shadow;
  overflow: hidden;




    .left-picture-part {
    position: relative;
    grid-column-start: 0;

    .picture {
        max-width: @picture-width;
        height: @picture-height;
        margin-left: @picture-margin;
        margin-top: @picture-margin / 2;
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
          height: 100%;
        }
    }
    .hover-bottom {
      cursor: pointer;
      z-index: 0;
      grid-row-start: auto;

      background: linear-gradient(to top, rgba(0, 0, 0, 0.8313725490196079), rgba(134, 171, 231, 0));

      margin-top: 1px;
      display: grid;
      grid-template-columns: 4% 96%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
      position: absolute;
      width: 100%;
      height: @picture-height / 3;
      top: @picture-height / 3 * 2;

      .top {
          grid-row-start: 3;
          grid-column-start: 2;
          font-family: @pp-font;
          font-size: @pp-bottom-top-font-size;
          color: @pp-bottom-hover-color;
          text-transform: uppercase;
        }
        .title {
          font-family: @pp-font;
          grid-row-start: 5;
          grid-column-start: 2;
          font-size: @pp-bottom-title-font-size;
          font-weight: bold;
          color: @pp-bottom-title-color;
        }
        .content {
          font-family: @pp-font;
          grid-row-start: 8;
          grid-column-start: 2;
          font-size: @pp-bottom-content-font-size;
          color: @pp-bottom-content-color;
        }
    }
  }

  .right-text-part {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 19% 27% 27% 27%;
    .title {
      background-color: @text-background-color;
      grid-row-start: 1;
      display: flex;
      align-items: center;
      padding: 20px 10%;
      .title-picture {
        padding-right: 20px;
      }
      .title-text {
        font-family: @pp-font;
        font-size: 23px;

      }
    }

    .one-tip {
      cursor: pointer;
      grid-row-start: auto;
      background-color: @text-background-color;
      margin-top: 1px;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;

      .tip-top {
        grid-row-start: 2;
        grid-column-start: 2;
        font-family: @pp-font;
        font-size: @pp-tip-top-font-size;
        color: @pp-tip-top-color;
        text-transform: uppercase;
      }
      .tip-title {
        font-family: @pp-font;
        grid-row-start: 4;
        grid-column-start: 2;
        font-size: @pp-tip-title-font-size;
        font-weight: bold;
      }
      .tip-content {
        font-family: @pp-font;
        grid-row-start: 7;
        grid-column-start: 2;
        font-size: @pp-tip-content-font-size;
        color: @pp-tip-content-color;
      }
    }

    .one-tip:hover {
      transition-delay: 0.1s;
      background-color: @pp-tip-hover-color;
    }
  }



}

@media screen and(max-width:@default-media-width) {
  .popular-part{
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    .left-picture-part{
      grid-column-start: 1;
      grid-row-start: 1;
    }
    .right-text-part{
      grid-column-start: 1;
      grid-row-start: 2;
      height: 400px;
    }
  }
}