.profileContent {
  width: 500px;
}

.occupation {
  font-size: 15px;
  font-weight: bold;
  opacity: 0.3;

  margin: 10px 0 0 0;
}

.authorName {
  font-size: 20px;
  font-weight: bold;

  margin: 0 0 15px 0;
}

.introduction {
  font-size: 15px;

  margin: 15px 0 10px 0;
}