@import "../themes/default";
.wholeBody {
  position: relative;
  background-color: @page-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .createForm {
    position: absolute;
    margin-top: @header-height+ @page-gutter;
    padding: 8px 40px;
    background-color: rgba(0, 0, 0, 0.84);
    border-radius: 0 1000px 1000px 0;
    box-sizing: @default-shadow;
    color: @white;
  }
}

.BodyContent {
  flex: 1;
}

.TmpFooter {
  height: 80px;
  background-color: @page-primary-color;
  font-size: 20px;
  font-weight: bold;
  box-shadow: @default-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
}
